* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */

body {
  /* font families used in this project */
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-left: 150px;
  width: 80%;
}

.questions-title-section {
  font-size: 45px;
  margin: 50px;
  color: #eb1736;
  margin-left: 0;
  text-align: center;
}

.hide {
  display: none;
}

/* Header */

#btn-high-scores {
  margin: 30px;
  color: #eb1736;
  background-color: white;
  font-size: 25px;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  text-decoration: none;
}

#btn-high-scores:hover{
  background-color: #5252d4;
  color: aliceblue;
}

#view-high-scores {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 20px;
  color: #5252d4;
  background-color: white;
}

#timer {
  margin: 30px;
  color: #eb1736;
  background-color: white;
  font-size: 25px;
  padding: 10px 20px;
}

#home-text-section {
  margin: 30px;
}

#btn-start-quiz {
  margin: 30px;
  color: #eb1736;
  background-color: white;
  font-size: 25px;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
}

#btn-start-quiz:hover{
  background-color: #5252d4;
  color: aliceblue;
}

.text {
  font-size: 20px;
}

#title-section {
  text-align: center;
}

.home-text {
  text-align: center;
}

#answersId {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 30px;
}

.abcd {
  margin: 3px;
  border: none;
  color: white;
  font-size: 20px;
  background-color: #5252d4;
  border-radius: 12px;
  padding: 10px 20px;
  width: 200px;
  text-align: left;
}

.abcd:hover {
  background-color: #eb1736;
  color: white;
}

.correctWrong {
  color: aqua;
  border-top: grey solid 1px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Highscore sectino */

.end-quiz-p {
  font-size: 20px;
}

.btn-submit {
  margin: 10px;
  color: white;
  font-size: 20px;
  background-color: #eb1736;
  border: none;
  border-radius: 12px;
  padding: 10px 10px;
}

.btn-submit:hover{
  background-color: #5252d4;
}

.btn-replay {
  margin: 10px;
  color: white;
  font-size: 20px;
  background-color: #eb1736;
  border: none;
  border-radius: 12px;
  padding: 10px 10px;
}

.btn-replay:hover {
    background-color: #5252d4;
    font-size: 20px;
};

#end-quiz {
  display: flex;
  margin-left: 300px;
}

/* Highscore section*/

ul {
  color: #eb1736;
  font-size: 20px;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

#btn-go-back {
    margin: 10px;
    color: white;
    font-size: 20px;
    background-color:grey;
    border: none;
    border-radius: 12px;
    padding: 10px 10px;
}

#btn-go-back:hover {
    background-color: #eb1736;
}

#btn-clear-high-scores {
    margin: 10px;
    color: white;
    font-size: 20px;
    background-color:grey;
    border: none;
    border-radius: 12px;
    padding: 10px 10px;
}

#btn-clear-high-scores:hover {
    background-color: #eb1736;
}

#high-scores-page {
    margin-bottom: 40px;
    color: #5252d4;
}