* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font families used in this project */
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}

.questions-title-section {
  font-size: 45px;
  margin: 50px;
  color: #eb1736;
  text-align: center;
}

#btn-high-scores {
  margin: 30px;
  color: #eb1736;
  background-color: white;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
}

#btn-high-scores:hover{
  background-color: #5252d4;
  color: aliceblue;
}

.view-high-scores {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 20px;
  color:  #5252d4;
  background-color: white;
}

#timer {
  margin: 30px;
  color: #eb1736;
  background-color: white;
  font-size: 20px;
  padding: 10px 20px;
}

#home-text-section {
  margin: 30px;
}

#btn-start-quiz {
  margin: 30px;
  color: #eb1736;
  background-color: white;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
}

#btn-start-quiz:hover{
  background-color: #5252d4;
  color: aliceblue;
}

.text {
  font-size: 18px;
}

.home-text {
  text-align: center;
}
